.expandable-div {
  cursor: pointer;
}

.expanded ._292iotee39Lmt0MkQZ2hPV {
  display: block;
}

.not-expanded ._292iotee39Lmt0MkQZ2hPV {
  display: none;
}

.dropdown-toggle .expanded span {
    content: '▼ ';
}

.dropdown-toggle .not-expanded span {
    content: '▶ ';
}